/* Header Slide-In Animation */
@keyframes slideInTitle {
    0% { opacity: 0; transform: translateY(50px); } /* Start unterhalb */
    100% { opacity: 1; transform: translateY(0); } /* Endposition */
}

/* Delay für Untertitel*/
.delayed-appearance {
    opacity: 0; 
    animation: slideInTitle 1s ease-out forwards; 
    animation-delay: var(--delay, 0s); 
    margin-top: 10px; /* Abstand zwischen den Zeilen */
    
}

/* Header */
#main-header {
    margin-bottom: 400px;
    text-align: center;
}

/* Scrollsnapping für Seiteneffekt */
main {
    scroll-snap-type: y mandatory; /* Snapping entlang der Y-Achse */
    height: 100vh; 
    overflow-y: scroll; 
    scroll-behavior: smooth;
    transition: background-color 0.5s ease-in-out;
    /* versteckt die Scrollbar */
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

/* Allgemeine Stage-Regeln */
#stage1, 
#stage2 {
    scroll-snap-align: start; 
    flex-shrink: 0;  
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40vh;

}

/* spezifische Stage anpassungen */
#stage1 {
    height: 140vh; 
    background-color: #f7f3f9; 
}

/* spezifische Stage anpassungen */
#stage2 {
    height: 100vh; 
    padding-top: 50vh; 
}

/* Grid-Ansicht */
.vitrine-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 15px; 
    padding: 50px 15px; 
    max-height: 100vh; 
    overflow-y: auto; 
    max-width: 300px;
    width: 100%;
   
}

/* einzelne Vitrinen-Karten */
.vitrine-card {
    display: block; 
    text-decoration: none;
    color: inherit;
    padding: 15px;
    
    background-color: #f7f3f9; 
    border: 3px solid #b96bcd; 
    
    position: relative; 
    transition: transform 0.3s ease, z-index 0s;
}


/* Collagen-Effekt durch Rotation und Überlappung */
.vitrine-card:nth-child(1) {
    transform: rotate(-2deg);
    margin: 20px -5px 0 5px;
    z-index: 3; 
}

.vitrine-card:nth-child(2) {
    transform: rotate(1.5deg);
    margin-top: -30px; 
    z-index: 2;
}

.vitrine-card:nth-child(3) {
    transform: rotate(-0.5deg);
    margin-top: -5px;
    margin-left: -10px;
    z-index: 4;
}


/* Hover-Effekt */
.vitrine-card:hover, 
.vitrine-card:focus {
    z-index: 10; 
    transform: rotate(0deg) scale(1.03); 
    box-shadow: 0 0 10px #b96bcd(255, 0, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.5);
}